.input-label {
    color: #8d8d8d;
    font-size: 16px;
    margin-left: 6px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.search-a:hover{
    color: #ffffff !important;
    background-color: #1976d2 !important;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.plus-btn {
    margin-top: 15px;
    width: 100%;
    padding: 0.1rem 1rem;
    background-color: transparent;
    color: #1976d2;
    font-size: calc(1.275rem + 0.3vw);
    border-radius: 0.5rem;
    border: 1px solid #1976d2;
    cursor: pointer;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow 500ms ease-in-out, color 300ms ease-in-out;

    &:focus {
        /*box-shadow: 0 0 40px 40px #1976d2 inset;*/
        color: #1976d2;
        /*outline: 0;*/
    }
    &:hover {
        box-shadow: 0 0 40px 40px #1976d2 inset;
        color: #fff;
        outline: 0;
    }

    &:disabled {
        background-color: #d3d3d3 !important;
        color: #8d8d8d;
        cursor: not-allowed;
        border-color: #d3d3d3;

        &:hover {
            box-shadow: none;
            color: #8d8d8d;
        }
    }
}

.accept-btn {
    margin-top: 15px;
    width: 100%;
    border-radius: 0 0 0.9rem 0.9rem;
    padding: 1rem 1rem;
    /*border-bottom-left-radius: 0.5rem;*/
    /*border-bottom-right-radius: 0.5rem;*/
    background-color: #1976d2;
    color: #fff;
    border: 0px solid #1976d2;
    /*border-color: #1976d2;*/
    &:disabled {
        background-color: #d3d3d3 !important;
        color: #8d8d8d;
        cursor: not-allowed;
    }

    &:focus,
    &:hover {
        background-color: #1976d2;
        color: #fff;
        outline: 0;
    }
}