

// $primary: #A74FFF;
$primary: #AD45FF;
// $point: #07ECB7;
$point: #41FFDF;
$point-blur: #89BAB2;

$gradient: linear-gradient( 130deg, #48ffd4 40%, rgb(113, 227, 241) 10%, #a513fa 70% );
$gradient2: linear-gradient(to right, #07ECB7, #CA47F2);

$text-black: #222224;
$text-black50: #595b5e;
$text-gray: #b2bbc5;

$btn-gray: #e9ebee;
$btn-gray-hover : #d4d6db;
$btn-gray-active : rgb(231, 232, 235);

$shadow-light: 0px 5px 40px -2px rgba(160, 0, 224, 0.4);