.currency-toggle {
    /*var(
          --linear,
          linear-gradient(130deg, #78ffe0 20%, rgb(121, 200, 253) 51.8%, #d260ff 100%)
  ) !important;*/
    /*border-color: linear-gradient(to right, #07ecb7, #ca47f2);*/
    border: 1px solid transparent;
    background-image: linear-gradient(black, black), linear-gradient(130deg, #78ffe0 20%, rgb(121, 200, 253) 51.8%, #d260ff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 30px !important;
    display: inline-block;
    position: relative;
}

.currency-toggle .currency-toggle-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
}

.currency-toggle-btn-text {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
}

.currency-toggle-btn-text span {
    background: linear-gradient(130deg, #78ffe0 20%, rgb(121, 200, 253) 51.8%, #d260ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.currency-toggle-btn .currency-toggle-btn-icon {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    user-select: none;
    align-content: center;
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    padding: 2px;
    width: 24px;
    font-size: 16px;
    background-image: linear-gradient(black, black), linear-gradient(130deg, #78ffe0 10%, rgb(121, 200, 253) 51.8%, #d260ff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    pointer-events: none;

}

.currency-toggle-btn-icon span {
    background: linear-gradient(130deg, #78ffe0 20%, rgb(121, 200, 253) 51.8%, #d260ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}